<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NNNA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="NNNA.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NNNA.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>fr</value>
            </setting>
            <setting name="FullScreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScreenWidth" serializeAs="String">
                <value>1366</value>
            </setting>
            <setting name="ScreenHeight" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="HealthOver" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SmartHUD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Textures" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Shadows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SoundGeneral" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SoundMusic" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SoundSFX" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Sound" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>0</value>
            </setting>
        </NNNA.Properties.Settings>
        <NNNA.Settings>
            <setting name="Language" serializeAs="String">
                <value>fr</value>
            </setting>
            <setting name="FullScreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScreenWidth" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="ScreenHeight" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="HealthOver" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SmartHUD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Textures" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Shadows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SoundGeneral" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SoundMusic" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SoundSFX" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Sound" serializeAs="String">
                <value>2</value>
            </setting>
        </NNNA.Settings>
    </userSettings>
</configuration>